#cabezera{
	
width:50%;
align:center;
height:35%;

	}

	.cuerpo {
		
		background-color: #ADD8E6;
	}
		
    
.menu{
	background-color:	#80BFFF;
	width:100%;
	margin-top:5px;
	text-align:center;
	height:25px;
	}
	
	#centrar{
		text-align:center;
		width:100%;
	}
	
	.seccion{
		
		text-align:center;
		background-color:red;
		height:27px;
		}
		
		